    <header>
      <div class="navbar navbar-dark bg-dark">
        <div>
          <h1 class="text-white">ＫＮテクノロジーズ</h1>
        </div>
        <div class="navbar">
          <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
              <%=link_to '会社概要', companies_path, class: [:btn, :"btn-primary"] %>
            </li>
            <li class="nav-item">
              <%=link_to '商品一覧', items_path, class: [:btn, :"mx-3", :"btn-primary"] %>
            </li>
            <li class="nav-item">
              <%=link_to 'お問い合わせ', new_contact_path, class: [:btn, :"btn-primary"] %>
            </li>
          </ul>
        </div>
      </div>
    </header>
